.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: antiquewhite;
    border: 1px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items : center;
    justify-content: center;
    align-content: center;
    grid-auto-columns: 50px;
    box-shadow: 0px 10px 30px rgb(0, 225, 255);
    
}
.item{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: center;
    align-content: center;
}
/* item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}.
.item4{
    grid-area: footer;
} */