.container{
    display: flex;
    height: 600px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 20px;
}
.item{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: rgb(176, 244, 19);
    text-align: center;
    align-content: center;
    flex-grow: 1; /*all child can ocuupy all space in equal spacing */
}
.item2{
    order: -1;
    flex-grow: 2;
    align-self: flex-end;    
}