h2{
    color: rgb(255, 51, 0);
    text-align: center;
}
/* h1{
    color: green;
} */
p{
    color: brown;
    background-color:rgb(100, 192, 84);
    font-size: 25px ;
    text-align: center;

}
.par{
    color: red;
}
#aps{
    color: pink;
}
h4{
    color: red;
}
.APS {
    display: block;
}
.rs {
    display: inline;
}
