div{
    height: 200px;
    width: 200px;
    color: rgb(11, 11, 11);
    background-color: rgb(0, 255, 106);
    text-align: center;
    /* align-content: center; */
    padding: 10px;
    margin: 50px;
    border: 1px double black;
}