h2{
    color: rgb(255, 51, 0);
    text-align: center;
}
/* h1{
    color: green;
} */
p{
    color: brown;
    background-color:rgb(100, 192, 84);
    font-size: 25px ;
    text-align: center;

}
.par{
    color: red;
}
#aps{
    color: pink;
}
div{
    height: 200px;
    width: 200px;
    color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 106);
    text-align: center;
    align-content: center;
    padding: 10px;
    margin: 50px;
    border: 1px double black;
}
h4{
    color: red;
}
